body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  align-content: stretch;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-left: 2px solid black;
}

.column-title {
  font-size: 350%;
  padding-left: 5px;
}

.items {
}

.item {
  font-size: 200%;
  padding-left: 5px;
}

.item-selected {
  font-size: 200%;
  padding-left: 5px;
  background-color: rgb(0, 132, 225);
  color: white;
}
.item:hover {
  background-color: rgb(0, 132, 225);
  color: white;
 }